<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>登陆</title>
	<script src="../public/js/jquery.min.js"></script>
	<script src="../public/js/vue/vue.js"></script>
	<script src="../public/js/vue/vue-resource.js"></script>
	<script src="../public/js/publicjs.js"></script>
	<link rel="stylesheet" href="../public/css/reset.css">
	<link rel="stylesheet" href="../public/css/samecss.css">
	<link rel="stylesheet" href="../css/login.css">
	<script>
		/*document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5  < 128/3 ? 128/3 : document.documentElement.clientWidth / 7.5 + 'px';
		window.onresize = function(){
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5  < 128/3 ? 128/3 : document.documentElement.clientWidth / 7.5 + 'px';
		}
		console.log(document.documentElement.style.fontSize);*/
		document.documentElement.style.fontSize = document.documentElement.clientWidth / 3.75  < 64/3 ? 64/3 : document.documentElement.clientWidth / 3.75 + 'px';
		window.onresize = function(){
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 3.75  < 64/3 ? 64/3 : document.documentElement.clientWidth / 3.75 + 'px';
		}
		console.log(document.documentElement.style.fontSize);
	</script>
</head>
<body>
<div id="appbox">
	<a class="goback" href="javascript:history.go(-1)"></a>
	<p class="title font24 text-grey255">登录</p>
	<div class="iptbox">
		<p class="font13 text-grey255">手机号码</p>
		<input type="text" class="text-grey255" v-model="mobilenumber">
	</div>
	<div class="iptbox iptbox2">
		<p class="font13 text-grey255">密码</p>
		<input v-if="passwordhide" type="password" class="text-grey255" v-model="password">
		<input v-else="passwordhide" type="text" class="text-grey255" v-model="password">
		<div @click="passwordhide=!passwordhide;changeeyeiconurl();" class="passwordshow"><img :src="passwordhideeyeurl" alt=""></div>
	</div>
	<a class="otherlogin font13 text-grey255" href="javascript:void (0);" @click="otherloginclick">其他方式登陆</a>
	<a class="forgetpassword font13 text-grey255" href="javascript:void (0);" @click="forgetpasswordclick">忘记密码</a>
	<div id="submitbtnbox">
		<div id="submitbtn" :class="{waitingclick:checkrulerstatus}" @click="loginsubmitclick"></div>
	</div>
</div>
<script src="../js/login.js"></script>
</body>
</html>