<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>输入密码</title>
	<script src="../public/js/jquery.min.js"></script>
	<script src="../public/js/vue/vue.js"></script>
	<script src="../public/js/vue/vue-resource.js"></script>
	<script src="../public/js/publicjs.js"></script>
	<link rel="stylesheet" href="../public/css/reset.css">
	<link rel="stylesheet" href="../public/css/samecss.css">
	<link rel="stylesheet" href="../css/registpassword.css">
	<script>
		/*document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5  < 128/3 ? 128/3 : document.documentElement.clientWidth / 7.5 + 'px';
		window.onresize = function(){
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5  < 128/3 ? 128/3 : document.documentElement.clientWidth / 7.5 + 'px';
		}
		console.log(document.documentElement.style.fontSize);*/
		document.documentElement.style.fontSize = document.documentElement.clientWidth / 3.75  < 64/3 ? 64/3 : document.documentElement.clientWidth / 3.75 + 'px';
		window.onresize = function(){
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 3.75  < 64/3 ? 64/3 : document.documentElement.clientWidth / 3.75 + 'px';
		}
		console.log(document.documentElement.style.fontSize);
	</script>
</head>
<body>
<div id="appbox" :class="{warn:warningstatus}">
	<a class="goback" href="javascript:history.go(-1)"></a>
	<p class="title font24 text-grey255">创建密码</p>
	<p class="pagetips font15 text-grey255">密码必须包含至少一个字母，且长度在八到十
		六个字符之间。</p>
	<div class="iptbox iptbox2">
		<p class="font13 text-grey255">密码</p>
		<!--<input type="password" class="text-grey255" v-model="password">
		<div class="passwordshow"><img src="../images/eyeicon.png" alt=""></div>-->

		<input v-if="passwordhide" type="password" class="text-grey255" v-model="password">
		<input v-else="passwordhide" type="text" class="text-grey255" v-model="password">
		<div @click="passwordhide=!passwordhide;changeeyeiconurl();" class="passwordshow"><img :src="passwordhideeyeurl" alt=""></div>
	</div>
	<div id="submitbtnbox">
		<div id="submitbtn" :class="{waitingclick:checkrulerstatus}" @click="registpasswordsubmitclick"></div>
	</div>

	<div class="fixedtips font13" v-if="warningstatus">
		<span class="text-red222 font15">错误</span><br>密码必须包含至少一个字母，且长度在八到十
		六个字符之间。
	</div>
	<div id="passwordchangetipboxbg" v-if="passwordchangetipboxstatus">
		<div id="passwordchangetipbox">
			<p class="font17 text-black3 text-center">密码已重置</p>
			<span class="font13 text-black3 text-center">您已成功重设密码，请使用新密码登录。</span>
			<div id="successconfirm" class="font17 text-blue0118 text-center" @click="successconfirmclick">OK</div>
		</div>
	</div>
</div>
<script src="../js/registpassword.js"></script>
</body>
</html>